<launch>
  <!-- Map Server -->
  <arg name="map_file" default="$(find my_robot)/maps/myworld.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- AMCL Node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">

    <!-- for list of parameters see:  http://wiki.ros.org/amcl#Parameters -->
    <!-- guidance on how to tune parameters: http://kaiyuzheng.me/documents/navguide.pdf -->

<!-- Overall filter parameters -->
    <!-- min_particles (int, default: 100) -->
    <param name="min_particles" value="10"/> 

    <!-- max_particles (int, default: 5000) -->
    <param name="max_particles" value="100"/>

    <!-- kld_err (double, default: 0.01) -->
    <param name="kld_err" value="0.01"/>

    <!-- kld_z (double, default: 0.99) -->
    <param name="kld_z" value="0.99"/>

    <!-- update_min_d (double, default: 0.2 meters) -->
    <param name="update_min_d" value="0.2"/>

    <!-- update_min_a (double, default: π/6.0 radians = 0.5236) -->
    <param name="update_min_a" value="0.5236"/>

    <!-- resample_interval (int, default: 2) -->
    <param name="resample_interval" value="2"/>

    <!-- transform_tolerance (double, default: 0.1 seconds) -->
    <!-- <param name="" value=""/> -->

    <!-- recovery_alpha_slow (double, default: 0.0 (disabled)) -->
    <!-- <param name="" value=""/> -->

    <!-- recovery_alpha_fast (double, default: 0.0 (disabled)) -->
    <!-- <param name="" value=""/> -->

    <!-- initial_pose_x, (double, default: 0.0 meters) -->
    <param name="initial_pose_x" value="0"/>

    <!-- initial_pose_y, (double, default: 0.0 meters) -->
    <param name="initial_pose_y" value="0"/>

    <!-- initial_pose_a, (double, default: 0.0 radians) -->
    <param name="initial_pose_a" value="-1.5708"/> <!-- -90 degree -->

    <!-- initial_cov_xx (double, default: 0.5*0.5 meters) -->
    <param name="initial_cov_xx" value="0.00001"/>

    <!-- initial_cov_yy (double, default: 0.5*0.5 meters) -->
    <param name="initial_cov_yy" value="0.00001"/>
    
    <!-- initial_cov_aa (double, default: (π/12)*(π/12) radian) -->
    <param name="initial_cov_aa" value="0.00001"/>

    <!-- gui_publish_rate (double, default: -1.0 Hz) -->
    <!-- <param name="" value=""/> -->

    <!-- save_pose_rate (double, default: 0.5 Hz) -->
    <!-- <param name="" value=""/> --> 

    <!-- use_map_topic (bool, default: false) -->
    <!-- <param name="" value=""/> -->

    <!-- first_map_only (bool, default: false) -->
    <!-- <param name="" value=""/> -->

    <!-- selective_resampling (bool, default: false) -->
    <!-- <param name="selective_resampling" value="false"/> -->
   


<!-- Laser model parameters -->

    <!-- laser_min_range (double, default: -1.0) -->
    <param name="laser_min_range" value="0.1"/> -->

    <!-- laser_max_range (double, default: -1.0) -->
    <param name="laser_max_range" value="15"/>

    <!-- laser_max_beams (int, default: 30) -->
    <param name="laser_max_beams" value="9"/>
 
    <!-- laser_z_hit (double, default: 0.95) -->
    <param name="laser_z_hit" value="0.95"/>

    <!-- laser_z_short (double, default: 0.1) -->
    <!-- <param name="" value=""/> -->
 
    <!-- laser_z_max (double, default: 0.05) -->
    <!-- <param name="" value=""/> -->
    
    <!-- laser_z_rand (double, default: 0.05) -->
    <param name="laser_z_rand" value="0.05"/>

    <!-- laser_sigma_hit (double, default: 0.2 meters) -->
    <!-- <param name="" value=""/> -->

    <!-- laser_lambda_short (double, default: 0.1) -->
    <!-- <param name="" value=""/> -->
   
    <!-- laser_likelihood_max_dist (double, default: 2.0 meters) -->
    <param name="laser_likelihood_max_dist" value="4.0"/>
    
    <!-- laser_model_type (string, default: "likelihood_field") -->
    <param name="laser_model_type" value="likelihood_field"/> 


<!-- Odometry model parameters -->
    <!-- odom_model_type (string, default: "diff") -->
    <param name="odom_model_type" value="diff-corrected"/>

    <!-- odom_alpha1 (double, default: 0.2) -->
    <param name="odom_alpha1" value="0.005"/> -->

    <!-- odom_alpha2 (double, default: 0.2) -->
    <param name="odom_alpha2" value="0.005"/> -->
   
    <!-- odom_alpha3 (double, default: 0.2) -->
    <param name="odom_alpha3" value="0.010"/> -->
    
    <!-- odom_alpha4 (double, default: 0.2) -->
    <param name="odom_alpha4" value="0.005"/> -->
    
    <!-- odom_alpha5 (double, default: 0.2) -->
    <!-- <param name="" value=""/> -->
    
    <!-- odom_frame_id (string, default: "odom") -->
    <param name="odom_frame_id" value="odom"/>
    
    <!-- base_frame_id (string, default: "base_link") -->
    <param name="base_frame_id" value="robot_footprint"/>
   
    <!-- global_frame_id (string, default: "map") -->
    <param name="global_frame_id" value="map"/>
   
    <!-- tf_broadcast (bool, default: true) -->
    <!-- <param name="" value=""/> -->

  </node>

  <!-- Move Base -->
  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />

    <param name="yaw_goal_tolerance" value="0.1"/>
    <param name="xy_goal_tolerance" value="0.2"/>  
  </node>

</launch>
